header{
	height:1.25rem;
	width: 100%;
	border-bottom: 1px #dddddd solid;

	-webkit-display: flex;
	display: flex; 

	padding:0 3%;
	align-items:center;
	position: fixed;
	box-sizing: border-box;
	background: #fff;
	z-index: 99;
}

header .back{
	width:0.625rem;
	height: 100%;
	line-height: 1.25rem;
	font-size: 0.4062rem;
    font-family: "SimSun";
}

header form{
	flex: 1;
	position: relative;
}

header form input{
	width:100%;
	height: 0.7812rem;
	border:0;
	background-color:#f7f7f7;
	padding-left:5px;
	box-sizing: border-box;
	outline: none;
	border-radius: 4px;
}

header form em{
	display: block;
	position: absolute;
	right:10px;
	top:0;
	width:0.4219rem;
	height: 100%;
	background:url("../img/icon_search2.png") 0 center no-repeat;
	background-size: 100%;
}
.delete-search{
	display: block;
	line-height: 1.25rem;
	width:0.9375rem;
	height:100%;
	text-align: right;
	font-size: 0.8375rem;
}
.delete-search a{
	display: inline-block;
    width: 100%;
    height: 100%;
	display: flex;
	-webkit-display: flex;
    align-items: center;
    margin-left: 0.1562rem;
}
.delete-search span{
	display: inline-block;
	width:0.125rem;
	height:0.125rem;
	line-height:0.1562rem;
	margin-left: 2px;
	background:#474747;
	border-radius: 50%;
}


.head{
	padding-top:1.55rem; 
	width:100%;
	height: 3.0156rem;
	background: url("../img/shop-detailbg.png") 0 1.55rem no-repeat;
	background-size: 100%; 
	position: relative;
}
.head-bott{
	position: absolute;
	width: 100%;
	height:1.0938rem;
	left: 0.0rem;
	bottom: 0.5625rem;
}
.head-bott>img{
	width: 1.0938rem;
	float: left;
	padding:0 0.3125rem;
}
.head-text{
	float: left;
}
.head-text p{
	color:#3e3e3e;
}
.head-text p:nth-child(1){
	font-size: 0.375rem;
	height:0.5rem;
	line-height: 0.5rem;
}
.head-text p:nth-child(2){
	font-size:0.3125rem;
}
.head-colle{
	float: right;
	width: 1.5625rem;
	height:0.5938rem;
	line-height: 0.5938rem;
	border-radius: 0.0938rem;
	background: #ff2150;
	text-align: center;
	margin: 0.3125rem  0.3125rem 0 0;
}
.head-colle img{
	width:0.3438rem;
	display: inline-block;
	vertical-align: middle;
	padding-right: 0.0781rem;
}

.list{
	height:1.0938rem;
    width: 94%;
    padding: 0 3%;
    border-bottom: 1px #eee solid;
    background: #fff;
    font-size: 0.3438rem;
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.list ul{
	display: flex;
	width: 100%;
}
.list ul li:nth-child(4){
	border-right: none;
} 
.list ul li{
	flex: 1;
	border-right:0.0156rem #eee solid;
	border-bottom:0.0156rem #fff solid;
}
.list ul li p{
	text-align: center;
	font-size: 0.2188rem;
}
.list ul li img{
	margin:0 auto;
	width:0.3906rem;
	margin-top: 0.125rem;
}
.list ul li a p:nth-child(1){
	font-size: 0.375rem;
	font-weight:bold;
	line-height:0.5625rem;
}
.list ul li a p:nth-child(2){
	color: #a7a7a7;
}
.list ul li:nth-child(1) p{
	margin-top: 0.0781rem;
}
.list ul .active{
	color:#ff2150;
	border-bottom:0.0156rem #ff2150 solid;
}

.contert{
	width:100%;
	padding:0 3%;
	box-sizing: border-box;
	border-bottom: 1px #eee solid;
}
.contert-ul1{
	width:100%;
	height:1.0938rem;
	line-height:1.0938rem; 
    background: #fff;
    font-size:0.3125rem;
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.contert-ul1 li{
	color:#666666;
	line-height: 1.0938rem; 
}
.contert-ul1 li em{
	color:#ff2150;
}
.contert-ul1 li i{
	display: inline-block;
	width:0.3906rem;
	height:0.3906rem;
	line-height:0.3825rem;
	text-align: center;
	color:#fff;
	background:#ff2150;
	font-size: 0.2812rem;
}
.contert-anno{
	width:100%;
	padding:0 3%;
	box-sizing: border-box;
	border-bottom: 1px #eee solid;	
	height:1.0938rem;
	line-height:1.0938rem; 	
}
.contert-anno p{
	font-size: 0.3125rem;
	color:#666666;
}

.phone{
	background: url("../img/phone.png") 8.0812rem center no-repeat;
	background-size: 7%;
}
.gray-bar{
    height: 0.1875rem;
    background: #f7f7f7;
}

.guess-like{
	height: 0.9375rem;
	border:1px #eee solid;
	border-left: none;
	border-right:none;
	background: url("../img/icon_love.jpg") 0.3125rem center no-repeat;
	background-size:0.375rem;
	padding-left: 0.8594rem;
	line-height: 0.9375rem;
	font-size: 0.4062rem;
}
.like-list ul{
	width:100%;
	overflow-x: hidden;
}

.like-list ul li{
	width: 50%;
	overflow-x: hidden;
	float: left;
	box-sizing: border-box;
	padding:0.3125rem;
	border-bottom: 1px #eee solid;
}

.like-list ul li:nth-of-type(2n-1){
	border-right: 1px #eee solid;
}

.like-list ul li img{
	width: 4.375rem;
	margin:0 auto;
}

.like-list ul li p{
	margin:0.1562rem 0;
	font-size: 0.375rem;
}

.like-list ul li span{
	font-size: 0.4062rem;
	color: #ff2052;
}

.like-list ul li span i{
	font-size: 0.25rem;
}

.like-list ul li s{
	margin-left: 0.4688rem;
	color: #ccc;
}