.exit{
	width:0.7812rem;
	height: 1.25rem;
	line-height: 1.25rem;
	z-index: 9999;
    position: fixed;
    margin-left: 10px;

    font-size: 0.4062rem;
    font-family: "SimSun";
}

header{
	width: 100%;
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
	position: fixed;
	top:0;
	left:0;
	background:#f7f7f7;
}

footer{
	width: 100%;
	height: 1.25rem;
	background:#f7f7f7;
	position: fixed;
	bottom:0;
	left:0;
}

header ul{
	-webkit-display: flex;
	display: flex;
}

header ul li{
	flex: 1;
}

html,body{
	height: 100%;
	overflow-y: hidden;
}

.tempWrap{
	top:1.25rem;
}

.pannel{
	background: gray;
	width:100%;
	font-size: 0.4062rem;
}

.pn-inner{
	width:100%;
	height:100%;
	line-height: 0.7812rem;
	overflow-y: auto;
	text-align: center;
}
.on{
	color:#ff2150;
	border-bottom:0.0312rem #ff2150 solid;
}
.pn-left{
	background: #fff;
}

.pn-center{
	background: #fff;
}
.pn-pater{
	width:100%;
	height:100%;
	padding: 0 3%;
	box-sizing: border-box;
}
.pn-pater ul li{
	height:1.0938rem;
	line-height: 1.0938rem;
	border-bottom:0.0156rem #eee solid;
}
.pn-pater ul:nth-child(1){
	float: left;
	width:40%; 
}
.pn-pater ul:nth-child(1) li{
	color:#adadad;
	font-size: 0.3438rem;
}
.pn-pater ul:nth-child(2) li{
	font-size: 0.3438rem;
	color:#5c5c5c;
}


.pn-right{
	background: #fff;
}
.pn-reco{
	width:100%;
}
.pn-reco ul li{
	width:43%;
	float: left;
	padding:0.3125rem 0.3125rem;
	text-align: center;
}
.pn-reco ul li:nth-child(2n-1){
	border-right: 0.0156rem #eee solid;
}

.pn-reco ul li img{
	width:4.3594rem;
	margin:0 auto;
}
.pn-reco ul li p{
	margin-top:0.2188rem; 
	line-height: 0.5rem;
	font-size: 0.3438rem;
	color:#818181;
}
.pn-reco ul li span{
	display: inline-block;
	margin-top:0.2188rem; 
	line-height: 0.5rem;
	color:#ff2150;
	font-size: 0.3438rem;
}
.pn-reco ul li em{
	font-size:0.4688rem;
}