/*personal-score*/
html,body{
	width: 100%;
	height: 100%;
}

header h2{
	height:0.9375rem;
	text-align: center; 
	line-height: 0.9375rem;
	font-weight: normal;
	background: #f9f9f9;
	border-bottom: 1px #d1d2d3 solid
}

header a{
	display: block;
	height:0.9375rem;
	line-height: 0.9375rem;
	position:absolute;
	left:3%;
	top:0;
	padding:0 0.1562rem;
	font-size: 0.4062rem;
	font-family: "SimSun";
}
main{
	width: 100%;
	height:3.75rem;
	background: url("../img/score-bg.png") 0 0 no-repeat;
	background-size: 100%;
	padding: 0 3%;
    box-sizing: border-box;
    position: relative;
}
main>a{
	position: absolute;
	right: 0.3125rem;
	top:0.4688rem;
	color:#fff;
}
main p{
	color:#fff;
	font-size: 0.3438rem;
}
main p:nth-child(2){
	padding: 0.7812rem 0 0.2rem 0;
}
main span{
	font-size: 0.75rem;
	color:#fff;
	padding-right:0.1562rem; 
}
.ul-list{
	position: absolute;
	left: 0;
	top:3.7625rem;
	width:100%;
	height:0.9375rem;
}
.ul-list ul{
	width:100%;
	-webkit-display: flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    background: rgba(0,0,0,0.3);
}
.ul-list ul li{
}
.ul-list ul li a{
	padding: 0 1.25rem; 
	display: inline-block;
	height:0.9375rem;
	line-height: 0.9375rem;
	text-align: center;
	color:#dfa196;
}
.ul-list ul li a.active{
	color: #fff;
}
.ul-list1{
	width:100%;
	padding: 0 3%;
    box-sizing: border-box;
    display: none;
}
.ul-list1 ul{
	width:100%;
}
.ul-list1 ul li{
	width: 100%;
	height: 1.75rem;
	padding: 0.25rem 0;
	box-sizing: border-box;
	border-bottom:1px #eeeeee solid;
}
.ul-list1 ul li img{
	width:1.25rem;
	float: left;
}
.list-left{
	float: left;
	padding: 0.1094rem 0 0.0781rem 0.3125rem;
	box-sizing: border-box;
}
.list-left p{
	font-size: 0.3125rem;
	color:#414141;
}
.list-left a{
	display: inline-block;
	padding: 0.0938rem 0.2656rem;
	border:0.0156rem #dddddd solid;
	color:#999999;
	border-radius: 0.0938rem;
}
.list-right{
	float: right;
	padding: 0.1094rem 0.3125rem 0.0781rem 0;
	box-sizing: border-box;
}
.list-right p:nth-child(1){
	font-size: 0.2969rem;
}
.list-right p:nth-child(2){
	font-size: 0.4688rem;
	padding-top:0.2344rem; 
	float: right;
}
.list-right p:nth-child(2) span{
	font-size: 0.375rem;
}
.hidden{
	display: block;
}